[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
src = {editable = true, path = "./"}
awscli = "*"
pandas = "*"
boto3 = "*"
python-dotenv = "*"
dataprep = "*"
pivottablejs = "*"
pyarrow = "*"
numpy = "*"

[requires]
python_version = "3.8"
